.required:after 
{
    content:" *";
    color: red;
}

#app-register-main-div
{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    top:-3%;
}

#app-register-div-left
{
    position: relative;
    display: block;
    height:100%;
    width:25%;
}

#app-register-div-body
{
    position: relative;
    display: block;
    height: 86%;
    width:50%;
    overflow:hidden;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);  
}

#app-register-body-heading
{
    position: relative;
    display: block;
    height: 10%;
    width:100%;
    font-size:x-large;
    font-weight: 600;
    top: -4.75%;
}

#app-register-header-text
{
    position:relative;
    text-align:center;
    vertical-align:middle;
    top:30%;
    color:slateblue;
    left:2%;
}

#app-register-body-content{
    position: relative;
    display: block;
    height: 70%;
    width:100%;
}

#register-app
{
    position:relative;
    width:100%;
    height:100%;
}

.app-register-main-class
{
    position:relative;
    display: flex;
    height:16%;
    width:100%;
}

.app-register-label-class
{
    position: relative;
    display: block;
    width:20%;
    height:100%;
    left:5%;
}

.app-register-input-div
{
    position: relative;
    display: block;
    width:60%;
    height:100%;
    left:10%;
}

.app-register-input
{
    position:relative;
    width:100%;
}

.app-register-req
{
    position: relative;
    display: block;
    width:3%;
    left:10%;
}

.verify-email-class
{
    position:relative;
    width:29%;
    left:10%;
}

#verify-mob-button, #app-reg-admin-button
{
    border-radius: 4px;
    border-style:dashed;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color:white;
}

#app-reg-admin-button
{
    position: relative;
    left:5%;
}

#verified-mob-div
{
    display:flex;
}

.verified-div-p
{
    position:relative;
    width:60%;
}

.accepted-img
{
    height:50%;
    width:20%;
}

#otp-div-p
{
    position:relative;
    width:50%;
    font-size: smaller;
    font-weight: 600;
}

#otp-div-input
{
    position: relative;
    width:50%;
    height:60%;
}

.app-gap
{
    position: relative;
    display: block;
    height: 2%;
    width:100%;
}

#app-register-submit{
    position: relative;
    color:white;
    width:15%;
    border-radius: 5px;
    border-style:dashed;
    left:45%;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#app-register-div-right
{
    position: relative;
    display: block;
    height:100%;
    width:25%;
}

#send-otp-div, #submit-div
{
    width:50%;
    left:25%;
    position: relative;
    color:red;
    text-align: center;
}

#app-register-popup-verify
{
    position: relative;
    color:white;
    width:15%;
    border-radius: 5px;
    border-style:dashed;
    background-color: #5cb85c;
    border-color: #4cae4c;
    top:10px;
}

#popup-verify-div
{
    width:50%;
    left:25%;
    position: relative;
    color:red;
    text-align: center;
    top:15px;
}