<div id="drug-type-master-main-div">
    <div id="drug-type-master-header">
        <h2 style="position:relative;text-align:center;">Admin</h2>
    </div>
    <div id="drug-type-master-body" style="overflow:auto;">
        <!-- Drug Type Master HTML starts-->

        <div class="container" style="position:relative;left:12.5%;">
          <div style="position:relative;display:flex;">
              <h3>Drug Type Master</h3>
              <button style="background:#4472C4;color:white;border-radius: 5px;border-color: #4472C4;border-style:dashed;width:6%;height:10%;left:2%;top:20px;position: relative;" data-toggle="modal" data-target="#addDrugTypeModal">Add</button>
              <button id="drug-type-show-hide-button" style="background:#4472C4;color:white;border-radius: 5px;border-color: #4472C4;border-style:dashed;width:6%;height:10%;left:6%;top:20px;position: relative;" (click)="showHideDrugTypeMaster()">Hide</button>
          </div>            
          <table class="table" style="position:relative;width:75%;" id="drug-type-table-id">
            <thead>
              <tr>
                <th>Serial No</th>
                <th>Drug Type</th>
                <th>Drug Type Code</th>
              </tr>
            </thead>
            <tbody id="drug-type-table-body-id">
              <tr *ngFor="let drugType of drugTypeList" style="position:relative;width:100%;display:table-row;">
                <td style="position:relative;width:15%;">{{drugType.serialNo}}</td>
                <td style="position:relative;width:35%;">{{drugType.drugTypeName}}</td>
                <td style="position:relative;width:21%;">{{drugType.drugTypeShortCode}}</td>
                <button style="background:#4472C4;color:white;border-radius: 5px;border-color: #4472C4;border-style:dashed;left:12%;height:10%;top:5px;position: relative;" (click)="editDrugType(drugType.serialNo);">Edit</button>
                <button style="background:#4472C4;color:white;border-radius: 5px;border-color: #4472C4;border-style:dashed;left:18%;top:5px;height:10%;position: relative;" (click)="deleteDrugType(drugType.serialNo);">Delete</button>
              </tr>
            </tbody>

          </table>

          <!-- Add Drug Type Popup html starts-->
         <div class="modal fade" id="addDrugTypeModal" style="top:22%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="position:relative;width:80%;">
              <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-title text-center">
                  <h4>Add Drug Type</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form ngNativeValidate>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter drug type" [(ngModel)]="newDrugTypeName" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter drug type code" [(ngModel)]="newDrugTypeShortCode" [ngModelOptions]="{standalone: true}" autocomplete="on" required>
                    </div>
                    <button style="position: relative; height: 100%; width: 40%" type="submit" class="btn btn-success" (click)="addNewDrugType();">Save</button>
                  </form>
                </div>
              </div>
            </div>
              
          </div>
        </div>
        <!-- Add Drug Type popup html ends-->

        <!-- Edit Drug Type Popup html starts-->
        <div class="modal fade" id="editDrugTypeModal" style="top:22%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="position:relative;width:80%;">
              <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-title text-center">
                  <h4>Edit Drug Type</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form ngNativeValidate>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter drug type" [(ngModel)]="drugTypeName" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter drug type code" [(ngModel)]="drugTypeShortCode" [ngModelOptions]="{standalone: true}" autocomplete="on" required>
                    </div>
                    <button style="position: relative; height: 100%; width: 40%" type="submit" class="btn btn-success" (click)="updateDrugType();">Update</button>
                  </form>
                </div>
              </div>
            </div>
              
          </div>
        </div>
        
        <!-- Edit Drug Type Popup html ends-->

        </div>

    </div>

</div>

