<div id="cd-main-div">
    <div id="left-panel">

    </div>
    <div id="rest-div">
        <div id="rest-div-center">
            <div id="rest-div-header">
                <div style="position:relative;height:100%;width:95%;"> 
                    <p>Case Details</p>
                </div>
                <div style="position:relative;height:100%;width:5%;">
                    
                </div>
            </div>
            <div id="rest-div-body">

            </div>
        </div>
    </div>
</div>
