<div id="app-main-div">
  <div id="app-header"> 
    <div id="app-header-upper">
      <div id="cbn-logo">
        <img id="cbn-logo-img" src="../assets/images/National-Emblem.png" alt="cbn-logo"/>
      </div>
      <div id="cbn-text">
        <div id="cbn-text-div">
          <p class="cbn-text-p" style="font-size:large;">CENTRAL BUREAU OF NARCOTICS</p>
          <hr style="left: 20%; right: 20%; width: 60%;">
        </div>
        <div id="cbn-text-neor">
          <p class="cbn-text-p" style="font-size:large;top:15%;">Department of Revenue</p>
        </div>
      </div>
      <div id="login-user-details">
        <div>
          <p>Welcome: {{selectedUsername}}</p>
        </div>
        <div>
          <p>Login at: {{currentDate | date: 'dd MMM yyyy hh:mm a'}}</p>
        </div>
        <div style="cursor:pointer;z-index:5;" (click)="userLogout();">
          <a id="logout-anchor">Logout</a>
        </div>
      </div>
      <div id="neor-logo">
        <img id="neor-logo-img" src="../assets/images/cbnlogo.png" alt="neor-logo"/>
      </div>
    </div>
    <div id="app-header-lower">
      <nav class="navbar navbar-default" style="position:relative;height:100%;width:100%;background-color: #5681A5;">
        <div class = "navbar-header" id="navbar-header-id">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false" (click)="changeLayout($event)">
             <span class = "sr-only">Toggle navigation</span>
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
          </button>
          <a class = "navbar-brand" href = "#"></a>
       </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;background-color: #5681A5;">
          <ul class="nav navbar-nav" style="position:relative;width:98%;">
          <li id="home-li" class="active"><a class="a-common-class" id="home-li-a-id" href="#">Home<span class="sr-only">(current)</span></a></li>
          <li id="dashboard-li"><a class="a-common-class">Dashboard</a></li>
          <li id="user-list-li" style="position:relative;border-radius:0; border-color: rgb(86,129,165);border:0;padding:0;cursor: pointer;"><a href="../show/users/list" class="a-common-class">User List</a></li>
          <li id="application-li"><a id="application-li-a" href="/app/register" class="a-common-class">App Register</a></li>
          <li id="profile-li"><a id="profile-li-a" class="a-common-class">Profile</a></li>
          <li id="downloads-li" class="dropdown">
            <a href="" style="color: white;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Downloads<span class="caret"></span></a>
              <!-- <ul class="dropdown-menu">
              <li><a href="files/AML_Legislation/pmla_2002.html">PMLA 2002</a></li>
                        <li><a href="files/AML_Legislation/scheduled_offences.html">Scheduled Offences</a></li>
                        <li><a href="files/AML_Legislation/notification.html">PML(Maintenance of Records) Rules 2005</a></li>
                        
            </ul> -->
          </li>
          <li id="media-li"><a class="a-common-class">Media</a></li>
          <li id="contact-us-li"><a class="a-common-class">Contact Us</a></li>

          <!-- Only for admin module-->
          <li id="admin-masters-li" class="dropdown" style="display:none;">
            <a href="" style="color: white;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Masters<span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li><a href="../user/admin/master/activity">Activity</a></li>
                        <li><a href="../user/admin/master/document">Document</a></li>
                        <li><a href="../user/admin/master/drug-type">Drug Type</a></li>            
            </ul>
          </li>

          <li id="cursor-li" style="border-radius:0; border-color: rgb(86,129,165);border:0;padding:0;" data-toggle="modal" data-target="#loginModal">
            <a class="a-common-class" (click)="showHidePopup();">Login</a></li>
          
          <li id="admin-login-li" style="border-radius:0; border-color: rgb(86,129,165);border:0;padding:0;display: none;cursor: pointer;" data-toggle="modal" data-target="#adminLoginModal">
            <a class="a-common-class">Login</a></li>

          <li id="admin-create-user-li" style="position:relative;border-radius:0; border-color: rgb(86,129,165);border:0;padding:0;display: none;cursor: pointer;"><a href="../user/admin/create-user" class="a-common-class">User Creation</a></li>

          <li id="admin-home-li" style="position:relative;left:45%;"><a href="../user/admin/home" style="color: darkgray !important;font-size: large;" class="a-common-class">Admin View</a></li>

          </ul>
         <!-- Login Popup html starts-->
         <div class="modal fade" id="loginModal" style="top:22%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-title text-center">
                  <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form ngNativeValidate>
                    <div class="form-group">
                      <input type="email" class="form-control" id="username" placeholder="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" autocomplete="on" required>
                    </div>
                    <div class="form-group" style="display: flex; height: 25%; width: 100%; position: relative;"> 
                      <input type="text" style= "position: relative; height: 100%; width: 50%;" class="form-control" [(ngModel)]="captcha" placeholder="Enter Captcha" required="" [ngModelOptions]="{standalone: true}" />
                      <input type="text" id="txtCaptcha" style="position: relative; height: 100%; width: 40%; text-align: center; border: none; font-weight: bold; font-size: 20px; font-family: Modern" />  
                      <input type="button" style= "position: relative; height: 100%; width: 20%;"id="btnrefresh" value="Refresh" onclick="GenerateCaptcha();" />   
                      <br />  
                      <br />  
                    </div>
                    <input type="button" style= "position: relative; height: 100%; width: 25%;color: #fff;background-color: #5cb85c; border-color: #4cae4c;border-radius: 4px; border-style: double;" value="Send OTP" (click)="generateLoginOTP();"/>
                    <p style="color:red;">{{otpGenerationMsg}}</p>
                    <div style="position:relative;display:flex;">
                    <p style="position:relative;top:15px;height:50%;width:40%;font-size: x-small;">Enter OTP for request id: {{requestNo}}</p>
                    <input type="text" style= "position: relative; top:10px;height: 50%; width: 30%;left:10%;top:7px;" class="form-control" [(ngModel)]="otp" placeholder="Enter OTP" required="" [ngModelOptions]="{standalone: true}" />
                    </div>
                  </form>
                </div>
              </div>
              <div class="form-group" style="display: block; height: 25%; width: 100%; position: relative;">
                <div style="display: inline-block; position: relative; height: 85%; width:100%;">
                <button style="position: relative; height: 100%; width: 30%;left:13%;" type="submit" class="btn btn-success" (click)="validateCredentials();">Login</button>
                <a style="position: relative; height: 100%; width: 60%; left:28%; font-size: x-small;cursor:pointer;" (click)="showForgetPasswordPopup();">Forgot Password?</a>
                </div>
                <p style="position:relative;top:10px;height:50%;width:100%;text-align:center;color:red;">{{loginErrorMsg}}</p>
                <span style="position: relative; height:15%; width:100%;"class="text-danger" style="color:red"></span>
                <div id="register-div" style="display:block;position:relative;height:15%;width:100%;color:#555;cursor:pointer;font-size:small;top:10px;" (mouseover)="changeRegisterColorBlue();" (mouseout)="changeRegisterColorBlack();" (click)="showRegisterModal();">
                  <p style="position:relative;text-align:center;">Register with us, if already not!</p>
                </div>
            </div>
            </div>
              
          </div>
        </div>
         <!-- Login Popup html ends -->

        <!-- Forget Password Popup html starts-->

        <div class="modal fade" id="forgetResetModal" style="top:22%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>

              <!--  forget Modal Body starts-->
              <div class="modal-body" id="forgetModalBody">
                <div class="form-title text-center">
                  <h4>Forget Password</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form>
                    <div class="form-group" id="forPassdiv">  
                        <input type="text" class="form-control" [(ngModel)]="forgetUsername" [ngModelOptions]="{standalone: true}" placeholder="username" required="" />
                    </div>
                    <div class="form-group" style="display: flex; height: 25%; width: 100%; position: relative;"> 
                      <input type="text" style= "position: relative; height: 100%; width: 50%;" class="form-control" [(ngModel)]="forgetCaptcha" placeholder="Enter Captcha" required="" [ngModelOptions]="{standalone: true}" />
                      <input type="text" id="forget-txtCaptcha" style="position: relative; height: 100%; width: 40%; text-align: center; border: none; font-weight: bold; font-size: 20px; font-family: Modern" />  
                      <input type="button" style= "position: relative; height: 100%; width: 20%;"id="forget-btnrefresh" value="Refresh" onclick="GenerateCaptcha();" />   
                      <br />  
                      <br />  
                    </div>
                    <input type="button" style= "position: relative; height: 100%; width: 25%;color: #fff;background-color: #5cb85c; border-color: #4cae4c;border-radius: 4px; border-style: double;" value="Send OTP" (click)="generateForgetPasswordOTP();"/>
                    <p style="color:red;">{{otpGenerationMsg}}</p>
                    <div style="position:relative;display:flex;">
                    <p style="position:relative;top:15px;height:50%;width:40%;font-size: x-small;">Enter OTP for request id: {{requestNo}}</p>
                    <input type="text" style= "position: relative; top:10px;height: 50%; width: 30%;left:10%;top:7px;" class="form-control" [(ngModel)]="forgetOtp" placeholder="Enter OTP" required="" [ngModelOptions]="{standalone: true}" />
                    </div>
                    <br>
                    <button type="submit" id="forPassbtn" style="position: relative; background-color: #5cb85c; border-color: #4cae4c; border-radius: 4px; border-style: double;" class="btn btn-primary" (click)="validateUsername();">Submit</button>
                    <p *ngIf="forPassWrong" style="color:red;position: relative;">Invalid User Name</p>
                  </form>
                </div>
              </div>

              <!--  forget Modal Body ends-->

              <!--  reset Modal Body starts-->
              <div class="modal-body" id="resetModalBody">
                <div class="form-title text-center">
                  <h4>Reset Password</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form id="resetPassForm">
                    <div style="position: relative; display: block; height: 5%; width: 50%; left: 25%;">
                        <p></p>
                        </div>
                    <div class="form-group" style="display:flex; height: 25%; width: 75%; position: relative; left:12.5%;">
                        <input type="password" style="position: relative; height: 100%; width: 90%;"class="form-control" [(ngModel)]="resetPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter password" autocomplete="on" required="" />
                        <input type="image" style="height:100%; width:10%; margin-left:0.5%;" src="../assets/images/helpbutton.png" (mouseover)="changeResetPassMsg()" (mouseleave)="changeResetPassMsg()"/>
                    </div>
                    <div style="color: red;left:0%;display: block; position: relative;" *ngIf="resetPassMsg">Password should contain A-Z, a-z, 0-9 & one special characters</div>
                    <div class="form-group" style="display:block; height: 25%; width: 75%; position: relative; left:12.5%;">
                        <input type="text" style="position: relative; height: 100%; width: 100%;"class="form-control" [(ngModel)]="retypePassword" [ngModelOptions]="{standalone: true}" placeholder="Retype password" required="" />
                    </div>
                    <div class="form-group" style="display: flex; height: 25%; width: 75%; position: relative; left:12.5%;"> 
                        <input type="text" style= "position: relative; height: 100%; width: 40%;" class="form-control" ng-model="enteredOtp" placeholder="Enter OTP" required="" />
                        <div style= "position: relative; height: 100%; width: 35%; font-size: x-small; left:5%;">
                            <p>Request id: </p>
                        </div>
                        <input type="button" style= "position: relative; font-size:xx-small; height: 100%; width: 25%; background: red; color:white; border-color: red" ng-click="regenerateOTP()" value="Resend OTP" />   
                        <br />  
                        <br />  
                    </div>
                    <div class="form-group" style="display: block; height: 25%; width: 50%; position: relative; left:25%;">
                        <div style="display: inline-block; position: relative; height: 85%; width:100%">
                        <button style="position: relative; height: 100%; width: 40%" type="submit" class="btn btn-success" ng-click="resetPasswordMethod(resetPassword,retypePassword,enteredOtp)">Reset</button>
                        </div>
                        <span style="position: relative; height:15%; width:100%;"class="text-danger" style="color:red"></span>
                    </div>
                  </form>
                </div>
              </div>

              <!--  reset Modal Body ends-->

            </div>
              
          </div>
        </div>

        <!--  Forget Password Popup html ends  -->

      <!-- Admin Popups-->

      <!-- Admin login popup starts -->
        <!-- Admin Login Popup html starts-->
        <div class="modal fade" id="adminLoginModal" style="top:22%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-title text-center">
                  <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form ngNativeValidate>
                    <div class="form-group">
                      <input type="email" class="form-control" id="adminUsername" placeholder="username" [(ngModel)]="adminUsername" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="adminPassword" placeholder="password" [(ngModel)]="adminPassword" [ngModelOptions]="{standalone: true}" autocomplete="on" required>
                    </div>
                    <div class="form-group" style="display: flex; height: 25%; width: 100%; position: relative;"> 
                      <input type="text" style= "position: relative; height: 100%; width: 50%;" class="form-control" [(ngModel)]="adminCaptcha" placeholder="Enter Captcha" required="" [ngModelOptions]="{standalone: true}" />
                      <input type="text" id="adminTxtCaptcha" style="position: relative; height: 100%; width: 40%; text-align: center; border: none; font-weight: bold; font-size: 20px; font-family: Modern" />  
                      <input type="button" style= "position: relative; height: 100%; width: 20%;" id="adminBtnrefresh" value="Refresh" onclick="GenerateCaptcha();" />   
                      <br />  
                      <br />  
                    </div>
                    <input type="button" style= "position: relative; height: 100%; width: 25%;color: #fff;background-color: #5cb85c; border-color: #4cae4c;border-radius: 4px; border-style: double;" value="Send OTP" (click)="generateAdminLoginOTP();"/>
                    <p style="color:red;">{{adminOtpGenerationMsg}}</p>
                    <div style="position:relative;display:flex;">
                    <p style="position:relative;top:15px;height:50%;width:40%;font-size: x-small;">Enter OTP for request id: {{adminRequestNo}}</p>
                    <input type="text" style= "position: relative; top:10px;height: 50%; width: 30%;left:10%;top:7px;" class="form-control" [(ngModel)]="adminOtp" placeholder="Enter OTP" required="" [ngModelOptions]="{standalone: true}" />
                    </div>
                  </form>
                </div>
              </div>
              <div class="form-group" style="display: block; height: 25%; width: 100%; position: relative;">
                <div style="display: inline-block; position: relative; height: 85%; width:100%;">
                <button style="position: relative; height: 100%; width: 30%;left:13%;" type="submit" class="btn btn-success" (click)="validateAdminCredentials();">Login</button>
                <a style="position: relative; height: 100%; width: 60%; left:28%; font-size: x-small;cursor:pointer;" (click)="showAdminForgetPasswordPopup();">Forgot Password?</a>
                </div>
                <p style="position:relative;top:10px;height:50%;width:100%;text-align:center;color:red;">{{adminLoginErrorMsg}}</p>
                <span style="position: relative; height:15%; width:100%;"class="text-danger" style="color:red"></span>
            </div>
            </div>
              
          </div>
        </div>
        <!-- Admin Login Popup html ends-->

        <!-- Admin Forget Password Popup html starts-->

        <div class="modal fade" id="adminForgetResetModal" style="top:22%;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>

              <!--  Admin forget Modal Body starts-->
              <div class="modal-body" id="adminForgetModalBody">
                <div class="form-title text-center">
                  <h4>Forget Password</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form>
                    <div class="form-group" id="adminForPassdiv">  
                        <input type="text" class="form-control" [(ngModel)]="adminForgetUsername" [ngModelOptions]="{standalone: true}" placeholder="username" required="" />
                    </div>
                    <div class="form-group" style="display: flex; height: 25%; width: 100%; position: relative;"> 
                      <input type="text" style= "position: relative; height: 100%; width: 50%;" class="form-control" [(ngModel)]="adminForgetCaptcha" placeholder="Enter Captcha" required="" [ngModelOptions]="{standalone: true}" />
                      <input type="text" id="adminForget-txtCaptcha" style="position: relative; height: 100%; width: 40%; text-align: center; border: none; font-weight: bold; font-size: 20px; font-family: Modern" />  
                      <input type="button" style= "position: relative; height: 100%; width: 20%;" id="adminForget-btnrefresh" value="Refresh" onclick="GenerateCaptcha();" />   
                      <br />  
                      <br />  
                    </div>
                    <input type="button" style= "position: relative; height: 100%; width: 25%;color: #fff;background-color: #5cb85c; border-color: #4cae4c;border-radius: 4px; border-style: double;" value="Send OTP" (click)="generateAdminForgetPasswordOTP();"/>
                    <p style="color:red;">{{adminOtpGenerationMsg}}</p>
                    <div style="position:relative;display:flex;">
                    <p style="position:relative;top:15px;height:50%;width:40%;font-size: x-small;">Enter OTP for request id: {{adminRequestNo}}</p>
                    <input type="text" style= "position: relative; top:10px;height: 50%; width: 30%;left:10%;top:7px;" class="form-control" [(ngModel)]="adminForgetOtp" placeholder="Enter OTP" required="" [ngModelOptions]="{standalone: true}" />
                    </div>
                    <br>
                    <button type="submit" id="adminForPassbtn" style="position: relative; background-color: #5cb85c; border-color: #4cae4c; border-radius: 4px; border-style: double;" class="btn btn-primary" (click)="validateAdminUsername();">Submit</button>
                    <p *ngIf="adminForPassWrong" style="color:red;position: relative;">Invalid User Name</p>
                  </form>
                </div>
              </div>

              <!--  Admin forget Modal Body ends-->

            </div>
              
          </div>
        </div>

        <!--  Admin Forget Password Popup html ends  -->


        </div><!-- /.navbar-collapse -->
      </nav>
  </div>
  </div>
  <div id="app-body">
    <router-outlet style="position:relative;height:100%;width:100%;"></router-outlet>
  </div>
</div>