<div id="dashboard-main-div">
    <div id="dashboard-left">
    </div>
    <div id="dashboard-middle">
        <div id="dashboard-text-div">
            <p style="vertical-align:middle;font-size: xx-large;top: 30%; position: relative;left:2%;">Dashboard</p>
        </div>
        <div id="dashboard-box-div">
            <div id="dashboard-box-upper">
                <div class="dashboard-box-empty">
                </div>
                <div class="upper-box" style="background-color: #FE4A4B;">
                    <div class="upper-box-div">
                        <p class="upper-box-p" style="top:35%">25</p>
                    </div>
                    <div class="upper-box-div">
                        <p class="upper-box-p">Draft Cases</p>
                    </div>
                </div>
                <div class="dashboard-box-empty">
                </div>
                <div class="upper-box" style="background-color: #E91E63;">
                    <div class="upper-box-div">
                        <p class="upper-box-p" style="top:35%">10</p>
                    </div>
                    <div class="upper-box-div">
                        <p class="upper-box-p">Submitted to CEIB</p>
                    </div>
                </div>
                <div class="dashboard-box-empty">
                </div>
                <div class="upper-box" style="background-color: #9C27B0;">
                    <div class="upper-box-div">
                        <p class="upper-box-p" style="top:35%">8</p>
                    </div>
                    <div class="upper-box-div">
                        <p class="upper-box-p">Stage 1</p>
                    </div>
                </div>
                <div class="dashboard-box-empty">
                </div>
                <div class="upper-box" style="background-color: #008509;">
                    <div class="upper-box-div">
                        <p class="upper-box-p" style="top:35%">10</p>
                    </div>
                    <div class="upper-box-div">
                        <p class="upper-box-p">Stage 2</p>
                    </div>
                </div>
                <div class="dashboard-box-empty" style="width: 12%;"> 
                </div>
            </div>
            <div id="dashboard-box-middle">
            </div>
            <div id="dashboard-box-lower">
                <div class="dashboard-box-empty">
                </div>
                <div class="lower-box" style="background-color: #FF5722;">
                    <div class="lower-box-div">
                        <p class="lower-box-p" style="top:35%">7</p>
                    </div>
                    <div class="lower-box-div">
                        <p class="lower-box-p">Stage 3</p>
                    </div>
                </div>
                <div class="dashboard-box-empty">
                </div>
                <div class="lower-box" style="background-color: #2980B9;">
                    <div class="lower-box-div">
                        <p class="lower-box-p" style="top:35%">5</p>
                    </div>
                    <div class="lower-box-div">
                        <p class="lower-box-p">Stage 4</p>
                    </div>
                </div>
                <div class="dashboard-box-empty">
                </div>
                <div class="lower-box" style="background-color: #FDAD2A;">
                    <div class="lower-box-div">
                        <p class="lower-box-p" style="top:35%">2</p>
                    </div>
                    <div class="lower-box-div">
                        <p class="lower-box-p">Stage 5</p>
                    </div>
                </div>
                <div class="dashboard-box-empty">
                </div>
                <div class="lower-box" style="background-color: #FF0000;">
                    <div class="lower-box-div">
                        <p class="lower-box-p" style="top:35%">3</p>
                    </div>
                    <div class="lower-box-div">
                        <p class="lower-box-p">Stage 6</p>
                    </div>
                </div>
                <div class="dashboard-box-empty" style="width: 12%;"> 
                </div>
            </div>
            <div id="dashboard-box-bottom">
            </div>
        </div>
    </div>
    <div id="dashboard-right">
    </div>
</div>
