<div id="set-password-main-div">
    <div id="set-password-div-left">
    </div>
    <div *ngIf="linkVerified" id="set-password-div-body">
        <div id="set-password-body-heading">
            <p style="position:relative;text-align:center;vertical-align:middle;top:30%;color:slateblue;left:2%;">Set Password</p>
        </div>
        <div id="set-password-body-content">
            <form id="register-form" ngNativeValidate>
                <label style="position:relative;left:5%;"> Password: </label>
                <input style="position: relative;left:17.25%;" type="password" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" size="50" required> 
                <label class="required"></label><br> <br>
                <label style="position:relative;left:5%;"> Retype Password: </label>
                <input style="position: relative;left:10%;" type="text" (mouseup)="checkPassword();" (keyup)="checkPassword();" name="retype-password" [(ngModel)]="retypePassword" [ngModelOptions]="{standalone: true}" size="50" required> 
                <label class="required"></label><br> <br>
                <p *ngIf="mismatch && showMismatch" style="position:relative;text-align:center;color:red;">Passwords are not equal!</p>
                <p></p>
                <input type="submit" id="set-password-submit" value="Submit" (click)="setPassword();"/>
            </form>
        </div>
        <div id="set-passoword-sucess-div">
            <p>Password set successfully. Please click below link to return home page!</p>
            <a href="/">Return to Home Page</a>
        </div>
        <p id="set-password-failure-p">Failed to set password!</p>
    </div>
    <div *ngIf="!linkVerified">
        <p>{{linkVerifiedErrorMsg}}</p>
    </div>
    <div id="set-password-div-right">
    </div>
</div>
